.hero {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.hero .badge {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    
}
.red {
    background-color: red;
    font-size: 60px;
    width: 200px;
    padding: 5px 20px;
    text-align: center;
    position: absolute;
    top: 230px;
    left: 160px;
    transform: translateX(0%);
}
.hero .main-title {
    font-size: 60px;
}
.hero .main-title > span {
    color: #1E78F0;
}
.hero .main-title > .crazy,
.hero .main-title:hover > .crazy {
    display: inline-block;
    color: purple;
    border: 3px solid green;
    padding: 0 15px;
    transform: rotate(-5deg);
}
.hero .text {
    font-size: 25px;
    width: 550px;
}
.hero .description {
    color: grey;
    font-size: 25px;
}
.hero .pic-guy {
    width: 800px;
}