body {
    margin: 0;
    padding-bottom: 60px;
    background-color: skyblue;
    font-family: Arial;
}
.container {
    display: inline-block;
    width: 1500px;
    margin-left: calc(50% - 750px);
    margin-top: 60px;
    background-color: white;
}

