body {
    width: 100%;
    margin: 0;
    padding-bottom: 60px;
    background-color: skyblue;
    font-family: Arial;
    overflow-x: hidden;
}
.container {
    display: inline-block;
    width: 1500px;
    margin-left: calc(50% - 750px);
    margin-top: 60px;
    background-color: white;
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

.main-footer > div {
    display: flex;
    gap: 20px;
}    
.main-footer > p {
    margin: 0;
}