.Button {
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 0.7em 1em;
    border-radius: 0.5em;
    border: 1px solid black;
}
.Button:hover {
    background-color: white;
    color: black;
    border-color: currentColor;
}