body {
    margin: 0;
    background-color: skyblue;
}

header,
main > section:nth-child(1),
main > section:nth-child(2) {
    display: inline-block;
    width: 1500px;
    margin-left: calc(50% - 750px);
    margin-top: 60px;
    background-color: white;


}

main {

}
main > section + section {
    margin-top: 60px;
}

div {
    float: left;
    width: 35;
    background-color: yellow;
}

img {
    float: right;
    width: 150px;
    background-color: red;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > img,
header > nav,
header > a {
    margin: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

nav > a {
    margin-left: 10px;
    margin-right: 10px;
}
