body {
    margin: 0;
    background-color: skyblue;
    font-family: Arial;
}
.container {
    display: inline-block;
    width: 1500px;
    margin-left: calc(50% - 750px);
    margin-top: 60px;
    background-color: white;
}
.main {
}
.text {
    font-size: 25px;
    float: left;
    width: 550px;
    background-color: yellow;
}
.bot {
    background-color: white;
}
